// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
@import 'nib'

button-size = 3rem
main-background = #41454d
main-color = #c6c6c6
button-background = #d4cfc7
button-color = #616164
button-background-invert = #616164
button-color-invert = #d4cfc7
modal-background = #ecebe9
modal-color = #676766
modal-input-background = #f6f5f3
modal-input-color = #888786

tags-background = #616167
tags-color = #d4cfc7

loader-background = #ecebe9
loader-color = #58493e

list-background = #ecebe9
list-color = #58493e
list-hightlight-background = #f4f3f0
list-hightlight-color = #ec4e1b

body
    background: main-background;
    color: list-color;
    font-family: "Open Sans", sans-serif


#content
    .row
    .form-group
        margin: 0
        padding: 0

    background: main-background;
    .btn
        font-weight: bolder
        font-size: button-size
        text-shadow: none
        white-space: normal
        span
            margin-right: 1em
    input
        height: auto
        font-size: 1.5em
        box-shadow: none
        border: none

#header
    color: main-color
    background: main-background

    padding-top: 3em
    padding-bottom: 3em
    padding-left: 10%
    padding-right: 10%
    .row
        display: flex
    button
        background: button-background
        color: button-color
        height: auto
        padding-left: 0em
        padding-right: .5em
    .add 
        text-align: right
        margin: auto
        flex: 2
        margin-top: 0
        img
            width: 2em
        div
            display: inline-block
            vertical-align: middle
    .or
        text-align: center
        margin: auto
        flex: 1 
        margin-top: 1em
    .search
        margin: auto
        flex: 3
        margin-top: 0
        input
            background: button-background
            color: button-color
            height: auto
            font-size: button-size
            padding-left: .5em
            padding-right: .5em
        .input-group-addon
            background: button-background
            color: button-color
            cursor: pointer
            img
                margin-left: .2em
                height: button-size
    .help-block
        text-align: center
    .quickmarklet
        position: absolute
        top: 0
        right: 3em
        a
            background: button-background
            color: button-color
            box-shadow: none
            font-size: 1em
            padding: .25em
    .transfer
        position: absolute
        top: 0
        right: 0
        button 
            box-shadow: none
            font-size: 1em
            padding: 0
            background: inherit
            border: none
            color: button-color-invert

#add-modal
#edit-modal
#transfer-modal
    .form-group
        margin: 1em 0
    .close
        opacity: .5
        &:hover
            opacity: .7
        margin: 0
        height: 3em
        text-align: right
    .modal-content
        background: modal-background
        color: modal-color

        .modal-header
            font-size: 1.5em
            text-align: center

        .modal-body
            button
                border: 0
                background: button-background-invert
                color: button-color-invert
                margin-top: 1em
        .modal-footer
            button
                border: 0
                background: button-background-invert
                color: button-color-invert
            span
                margin-right: .25em
            .cancel
                font-size: 1em
                color: inherit
                background: inherit
                border: none
                box-shadow: none
                text-decoration: underline

    .import-file
        display: none
    
#transfer-modal
    button 
        margin: 1em

#tags-toggle
    color: main-color
    background: main-background
    font-size: 1.5em

    .tags-show
    .tags-hide
        cursor: pointer
        text-align: center
        background: tags-background
        color: tags-color
        width: 150px
        padding: .25em .25em .25em 0
        img
            height: 1em
            margin: .1em
            vertical-align: sub
    .tags-hide
        display: none
        img
            transform: scaleY(-1);

#tags
    padding: .2em 10%
    min-height: 2em
    background: tags-background
    color: tags-color
    text-align: center
    font-weight: bolder
    .tag
        border-radius: 5px 
        display: none
        padding: .2em .4em
        &:hover
            cursor: pointer
            background: button-background
            color: button-color
    .tag-show
        display: inline-block

#loader
    background: list-background
    color: list-color
    display: none

#bookmarks
    background: list-background;
    color: list-color;
    padding: 1em
    .list
        list-style: none
        padding: 0

    .bookmark
        margin: 0 10%
        padding: .5em 0 0 0 
        font-size: 1.5em
        border-radius: 25px 

        .row
            padding: 0
            margin: 0

        .title
            a
            a:active
            a:visited
                font-size: 1.1em
                font-weight: bolder
                color: list-color
        .url
            overflow: ellipsis
            font-style: italic
            &:hover
                white-space: initial
                word-wrap: break-word
                overflow: initial
            a
            a:active
            a:visited
                color: list-color
        .infos
            opacity: .9
            text-align: right
            .date
                font-size: .8em
                font-style: italic
        .description
            opacity: .9
            padding: 1em
            border-bottom: 1px #ccc solid

        &:hover
            background: list-hightlight-background
            .title 
                a
                a:active
                a:visited
                    color: list-hightlight-color
            .description
                border-radius: 0 0 0 25px 
            .actions
                display: block

        .actions
            display: none
            text-align: right
            button
                background: inherit
                color: inherit
                text-align: center
                font-size: 1em
                font-weight: lighter
                border: none
                box-shadow: none
                padding: 0
                margin: 0
                &:hover
                    color: list-hightlight-color
                img
                    height: 2em
                img
                svg
                path
                img path 
                    fill: red




@media (max-width:1280px)
    #header
        padding-left: 2%
        padding-right: 2%
        button 
            padding-left: 0.5em
        .add .add-bookmark-title
            display: none
    #tags
        padding: .2em 2%
    #bookmarks
        .bookmark
            margin: 0 2%
            margin: 0 2%
            .actions
                button
                    height: 2.5em
    .transfer
    .quickmarklet
        display: none

@media (max-width:580px)
    #bookmarks
        .bookmark
            font-size: 1em
            margin: 0
            margin: 0
            .infos
                text-align: left
            .actions
                button
                    height: 2.5em
                    font-size: 1.5em
                    background: button-background-invert
                    color: button-color-invert
                    border-radius: 0
                    border: none
                    span
                        margin: 0
                        padding: .75em