#content
    #add-modal(class="modal fade", tabindex="-1", role="dialog")
        div(class="modal-dialog")
            div(class="modal-content")
                div(class="modal-header")
                    button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                    h2(class="modal-title") Add a new bookmark
                form#bookmark-add(class="form-horizontal")
                    div(class="modal-body")
                        div(class="form-group")
                            label(for="add-link", class="col-xs-2  control-label") Link URL
                            div(class="col-xs-9")
                                input#add-link(class="form-control", type="text", placeholder="http://cozy.io/")
                        div(class="form-group")
                            label(for="add-title", class="col-xs-2  control-label") Title
                            div(class="col-xs-9")
                                input#add-title(class="form-control", type="text", placeholder="A short title for your bookmark")
                        div(class="form-group")
                            label(for="add-description", class="col-xs-2  control-label") Description
                            div(class="col-xs-9")
                                textarea#add-description(class="form-control", placeholder="A more complete description of your bookmark")
                        div(class="form-group")
                            label(for="add-tags", class="col-xs-2  control-label") Tags
                            div(class="col-xs-9")
                                input#add-tags(class="form-control", type="text", placeholder="free, news")
                                p(class="help-block") you can use multiple tags, use comma to split them
                    div(class="modal-footer")
                        button(type="button", class="btn btn-default", data-dismiss="modal") Cancel
                        button(type="submit", class="btn btn-primary") 
                            span(class="glyphicon glyphicon-plus") 
                            | Add

    #edit-modal(class="modal fade", tabindex="-1", role="dialog")
        div(class="modal-dialog")
            div(class="modal-content")
                div(class="modal-header")
                    button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                    h2(class="modal-title") Edit the bookmark
                form#bookmark-edit(class="form-horizontal")
                    div(class="modal-body")
                        div(class="form-group")
                            label(for="edit-link", class="col-xs-2  control-label") Link URL
                            div(class="col-xs-9")
                                input#edit-link(class="form-control", type="text", placeholder="http://cozy.io/")
                        div(class="form-group")
                            label(for="edit-title", class="col-xs-2  control-label") Title
                            div(class="col-xs-9")
                                input#edit-title(class="form-control", type="text", placeholder="A short title for your bookmark")
                        div(class="form-group")
                            label(for="edit-description", class="col-xs-2  control-label") Description
                            div(class="col-xs-9")
                                textarea#edit-description(class="form-control", placeholder="A more complete description of your bookmark")
                        div(class="form-group")
                            label(for="edit-tags", class="col-xs-2  control-label") Tags
                            div(class="col-xs-9")
                                input#edit-tags(class="form-control", type="text", placeholder="free, news")
                                p(class="help-block") you can use multiple tags, use comma to split them
                    div(class="modal-footer")
                        button(type="button", class="btn btn-default", data-dismiss="modal") Cancel
                        button(type="submit", class="btn btn-primary") 
                            span(class="glyphicon glyphicon-plus") 
                            | Save

    #header
        div(class="row")
            .add(class="col-xs-4")
                button(class="btn btn-default add-bookmark", type="button", data-toggle="modal", data-target="#add-modal") 
                    span(class="glyphicon glyphicon-plus")
                    | Add a new bookmark
            .or(class="col-xs-2") or
            form.search(class="col-xs-6")
                div(class="input-group")
                    input(class="form-control", type="text", placeholder="Search for a bookmark")
                    div(class="input-group-addon")
                        img(src="icons/search.svg", alt="search")
                p(class="help-block") Type a keyword, we will search for it in your saved bookmarks 

    #tags-toggle(class="row")
        .buttons(class="col-xs-offset-10 col-xs-2")
            .tags-show
                span(class="glyphicon glyphicon-chevron-down")
                | show tags
            .tags-hide
                span(class="glyphicon glyphicon-chevron-up")
                | hide tags
    #tags

    #loader(class="loader-inner ball-pulse")
        p Loading bookmarks, please wait ...

    #bookmarks
        ul.list